body{

margin:0;

font-family:sans-serif;

background:#111;

color:white;

text-align:center;

}



#game{

display:flex;

gap:20px;

padding:20px;

}



#status{

width:250px;

background:#222;

padding:20px;

border-radius:15px;

}



#main{

flex:1;

background:#181818;

padding:20px;

border-radius:15px;

}



.card{

display:inline-block;

width:150px;

margin:10px;

padding:10px;

background:#333;

border-radius:15px;

}



.card img{

width:100px;

}



button{

font-size:20px;

padding:15px 40px;

border-radius:15px;

}



#enemyImg{

width:200px;

}
